@model Diploma_Curator_Subsystem.Models.Task

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Уверены, что хотите удалить эту задачу?</h3>
<div>
    <h4>Задача</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Описание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Альтернативы
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alternatives)
        </dd>
        <dt>
            Дата создания
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            Дата окончания
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt>
            Предметная область
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Domain.Name)
        </dd>
        <dt>
            Статус
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
