@*@model IEnumerable<Diploma_Curator_Subsystem.Models.Task>*@
@model Diploma_Curator_Subsystem.Models.SubsystemViewModels.TaskIndexData

@{
    ViewData["Title"] = "Задачи";
}
<h2>Задачи</h2>

@*<p>
    <a asp-action="Create">Создать</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th style="min-width:140px;">Альтернативы</th>
            <th style="min-width:100px;">Дата создания</th>
            <th style="min-width:100px;">Дата окончания</th>
            <th>Предметная область</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tasks)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alternatives)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domain.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a>
                <a asp-action="Details" asp-route-id="@item.ID">Подробно</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>*@
        </tr>
        }
    </tbody>
</table>
