@*@model IEnumerable<Diploma_Curator_Subsystem.Models.Task>*@
@model Diploma_Curator_Subsystem.Models.SubsystemViewModels.TaskIndexData

@{
    ViewData["Title"] = "Tasks";
}
<h2>Tasks</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Альтернативы</th>
            <th>Математичекие данные</th>
            <th>Дата окончания</th>
            <th>Предметная область</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alternatives)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Math_data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Domain.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
