@model IEnumerable<Diploma_Curator_Subsystem.Models.Query>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaxNumExpert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinNumExpert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinCompetitionCoef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgCompetitionCoef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.Domain.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumExpert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinNumExpert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinCompetitionCoef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgCompetitionCoef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task.Domain.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-action="Distribute" asp-route-id="@item.ID">Distribute experts</a>
            </td>
        </tr>
}
    </tbody>
</table>
